1) Demonstrate how to import Pandas and check the version of the installation.

In [2]:
import pandas as pd
pd.__version__

'1.5.2'

2) Transform this list, numpy array, and dictionary into a series.

In [3]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
series = pd.Series(mydict)

print(series)

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

3) Convert the index of your previous series into a column of the dataframe.

In [5]:
mydf = series.reset_index()
mydf.columns = ['index_name','values']
print(mydf)

   index_name  values
0           a       0
1           b       1
2           c       2
3           e       3
4           d       4
5           f       5
6           g       6
7           h       7
8           i       8
9           j       9
10          k      10
11          l      11
12          m      12
13          n      13
14          o      14
15          p      15
16          q      16
17          r      17
18          s      18
19          t      19
20          u      20
21          v      21
22          w      22
23          x      23
24          y      24
25          z      25

4) Combine the series below into one dataframe.

In [6]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df = pd.DataFrame({'ser1': ser1, 'ser2': ser2})
print(df)

   ser1  ser2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

5) Give the series below a name.

In [8]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'),name='alphabets')
print(ser.name)

alphabets

6) Find the elements in the first series (ser1) not in the second series (ser2).

In [11]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

#diff_elements = ser1[~ser1.isin(ser2)]
#print(diff_elements)

diff_elements = ser1[ser1.isin(ser2) == False]
print(diff_elements)

0    1
1    2
2    3
dtype: int64

Find the elements in both series that are not in common (remove them if they exist in both).

In [15]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

diff_elements = ser1[ser1.isin(ser2) | ser2.isin(ser1)]
print(diff_elements)

0    1
1    2
3    4
4    5
dtype: int64

8) Find the minimum, max, 25th percentile, and 75th percentile in the series.

In [19]:
import numpy as np
ser = pd.Series(np.random.normal(10, 5, 25))

minimum = np.min(ser)
maximum = np.max(ser)
percentile_25 = np.percentile(ser,25)
percentile_75 = np.percentile(ser,75)

print("Minimum: ", minimum)
print("Maximum: ", maximum)
print("25th Percentile: ", percentile_25)
print("75th Percentile: ", percentile_75)

Minimum:  0.15562039184778165
Maximum:  19.676026945095522
25th Percentile:  5.964487583218493
75th Percentile:  13.054840185961599

9) Obtain the count of each unique item in the series.

In [22]:
import numpy as np
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

value_counts = ser.value_counts()
print(value_counts)

h    6
g    5
a    4
e    4
f    3
b    3
c    3
d    2
dtype: int64

10) Keep the two most frequent items in the series and change all items that are not those two into "Other".

In [25]:
import numpy as np
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

# Find the two most frequent items in the series
top_two = ser.value_counts().head(2).index.tolist()

# Use the apply function to replace all other items in the series with "Other"
ser = ser.apply(lambda x: x if x in top_two else 'Other')
print(ser)

0         2
1         1
2         1
3         1
4         2
5         2
6         2
7         1
8         1
9     Other
10    Other
11    Other
dtype: object

11) Bin the series below into 10 equal deciles and replace the values with the bin name.

In [27]:
import numpy as np
ser = pd.Series(np.random.random(20))

# Bin the series into 10 equal deciles
ser_binned = pd.cut(ser, bins=10, labels=range(1, 11))

# Use the apply function to replace the values with the bin name
ser_binned = ser_binned.apply(lambda x: f'bin {x}')

print(ser_binned)

0      bin 8
1      bin 4
2      bin 4
3      bin 8
4      bin 7
5      bin 1
6      bin 1
7     bin 10
8      bin 9
9      bin 4
10     bin 3
11     bin 3
12     bin 1
13    bin 10
14     bin 5
15     bin 5
16     bin 8
17     bin 1
18    bin 10
19     bin 1
dtype: category
Categories (10, object): ['bin 1' < 'bin 2' < 'bin 3' < 'bin 4' ... 'bin 7' < 'bin 8' < 'bin 9' < 'bin 10']

12) Reshape the series ser into a dataframe with 7 rows and 5 columns.

In [32]:
import numpy as np
ser = pd.Series(np.random.randint(1, 10, 35))

# reshape the series into a 7x5 array then convert the array to a dataframe

df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  6  9  6  1  4
1  5  1  2  9  9
2  8  1  4  7  6
3  4  4  2  3  6
4  6  9  5  1  3
5  8  5  2  1  4
6  4  8  7  3  8

13) Find the positions of numbers that are multiples of 3 from ser.

In [35]:
ser = pd.Series(np.random.randint(1, 10, 7))

# Find the remainder of each element divided by 3
remainders = np.mod(ser, 3)

# Find the positions of the elements that have a remainder of 0
positions = np.where(remainders == 0)

print(positions)

(array([0, 3, 4], dtype=int64),)

14) From ser, extract the items at positions in list pos.

In [36]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

# extract the items at the positions in the list pos
extracted_items = ser.iloc[pos]

print(extracted_items)

0     a
4     e
8     i
14    o
20    u
dtype: object

15) Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [39]:

import pandas as pd
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

df_vertical = pd.concat([ser1, ser2], axis=0)
df_vertical = pd.DataFrame(df_vertical)
print(df_vertical)


df_horizontal = pd.concat([ser1, ser2], axis=1)
df_horizontal = pd.DataFrame(df_horizontal)
print(df_horizontal)

   0
0  0
1  1
2  2
3  3
4  4
0  a
1  b
2  c
3  d
4  e
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

16) Get the positions of items of ser2 in ser1 as a list.

In [40]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# get the indexer
indexer = ser1.index.get_indexer(ser2.index)

# get the positions
positions = [i for i in indexer if i >= 0]
print(positions)

[0, 1, 2, 3]

17) Compute the mean squared error of truth and pred series.

In [44]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

mse = ((truth - pred)**2).mean()
print(mse)

0.4375552561148063

18) Change the first character of each word to upper case in each word of ser.

In [45]:
ser = pd.Series(['how', 'to', 'Kick', 'ass?'])
ser = ser.str.capitalize()
print(ser)

0     How
1      To
2    Kick
3    Ass?
dtype: object

19) Caluculate the number of characters for each element in the series.

In [46]:
ser = pd.Series(['how', 'to', 'Kick', 'ass?'])
num_characters = ser.str.len()
print(num_characters)

0    3
1    2
2    4
3    4
dtype: int64

20) Caluculate the difference of differences between the consequtive numbers of ser.

In [47]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
#The first .diff() will calculate the difference between consecutive numbers
#the second .diff() will calculate the difference between the differences.
diff_of_diff = ser.diff().diff()
print(diff_of_diff)

0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

21) Convert the date-strings to a timeseries.

In [48]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser = pd.to_datetime(ser)
print(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

22) Get the day of month, week number, day of year and day of week from ser.

In [53]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser = pd.to_datetime(ser)
#.dt accessor after converting the date strings to timestamp to extract different date attributes from the series
day_of_month = ser.dt.day
week_number = ser.dt.isocalendar().week #get the week number.
day_of_year = ser.dt.dayofyear
day_of_week = ser.dt.weekday
print("Day of Month: ", day_of_month, "Week Number: ", week_number, "Day of Year: ", day_of_year, "Day of Week: ", day_of_week)

Day of Month:  0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64 Week Number:  0    53
1     5
2     9
3    14
4    19
5    23
Name: week, dtype: UInt32 Day of Year:  0      1
1     33
2     63
3     94
4    125
5    157
dtype: int64 Day of Week:  0    4
1    2
2    5
3    3
4    0
5    5
dtype: int64

23) Change ser to dates that start with 4th of the respective months.

In [56]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
ser = pd.to_datetime("4 " + ser, format="%d %b %Y")
print(ser)

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

24) From ser, extract words that contain at least 2 vowels.

In [59]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
result = ser[ser.str.contains(r'[aeiou].*[aeiou]', case=False, na=False)]
print(result)

0     Apple
1    Orange
4     Money
dtype: object

25) Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

In [65]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.com', 'narendra@modi.com'])
pattern = '([A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4})'
valid_emails = emails.str.extract(pattern, expand=False)
valid_emails = valid_emails.dropna()
print(valid_emails)

1    rameses@egypt.com
2           matt@t.com
3    narendra@modi.com
dtype: object

26) Compute the mean of weights of each fruit.

In [66]:
weights = pd.Series(np.linspace(1, 10, 10))
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))

# Create a dataframe from the fruit and weights series
df = pd.DataFrame({'fruit': fruit, 'weights': weights})

# Group the dataframe by fruit and compute the mean of each group
mean_weights = df.groupby('fruit')['weights'].mean()
print(mean_weights)

#examples
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

fruit
apple     6.500000
banana    4.333333
carrot    5.333333
Name: weights, dtype: float64

27) Compute the euclidean distance between series (points) p and q, without using a packaged formula.

In [70]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
import numpy as np
distance = np.linalg.norm(p - q)
print(distance)

18.16590212458495

28) Get the positions of peaks (values surrounded by smaller values on both sides) in ser.

In [71]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
peaks = []
for i in range(1, len(ser)-1):
    if ser[i] > ser[i-1] and ser[i] > ser[i+1]:
        peaks.append(i)
print(peaks)

[1, 5, 7]

29) Replace the spaces in my_str with the least frequent character.

In [72]:
my_str = 'dbc deb abed gade'
char_count = {}
for char in my_str:
    if char != ' ':
        char_count[char] = char_count.get(char, 0) + 1
least_frequent_char = min(char_count, key=char_count.get)
my_str = my_str.replace(' ', least_frequent_char)
print(my_str)

dbccdebcabedcgade

30) Create a timeseries starting at ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values.

In [75]:
import pandas as pd
import numpy as np

# create a start date of '2000-01-01'
start_date = pd.to_datetime('2000-01-01')

# create an end date that is 10 weekends (saturdays) after the start date
end_date = start_date + pd.offsets.Week(10)

# create a date range of weekends from start to end date
weekends = pd.date_range(start=start_date, end=end_date, freq='W-SAT')

# create a series with random integers as values and the weekends as index
ser = pd.Series(np.random.randint(0,100, size=len(weekends)), index=weekends)

# print the series
print(ser)

2000-01-01    98
2000-01-08    20
2000-01-15    84
2000-01-22    30
2000-01-29    98
2000-02-05    58
2000-02-12    37
2000-02-19    62
2000-02-26    81
2000-03-04    93
2000-03-11    43
Freq: W-SAT, dtype: int32

31) Series ser has missing dates and values. Make all missing dates appear and fill up with value from previous date.

In [76]:
import pandas as pd

# Create the series with missing dates and values
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

# Reindex the series with all dates between the first and last date in the series
ser = ser.reindex(pd.date_range(start=ser.index[0], end=ser.index[-1]))

# Forward fill the missing values with the previous value
ser.fillna(method='ffill', inplace=True)

print(ser)

#> 2000-01-01     1.0
#> 2000-01-03    10.0
#> 2000-01-06     3.0
#> 2000-01-08     NaN
#> dtype: float64

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

32) Compute autocorrelations for the first 10 lags of ser. Find out which lag has the largest correlation.

33) Import every 50th row of BostonHousing dataset as a dataframe.
    https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

34) Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

35) Create a dataframe with rows as strides from the series "L".

In [ ]:
L = pd.Series(range(15))

36) Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

37) Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. Also get the numpy array and list equivalent of the dataframe.

https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv

38) Which manufacturer, model and type has the highest Price? What is the row and column number of the cell with the highest Price value?

39) Rename the column "Type" as "CarType" in the previous data and replace the ‘.’ in column names with ‘_’.

40) Check if the data from #37 has any missing values.

41) Count the number of missing values in each column of the previous data. Which column has the maximum number of missing values?

42) Replace missing values in Min.Price and Max.Price columns with their respective mean.

43) In the previous data, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.

44) Get the first column (a) in the data as a dataframe (rather than as a Series).

45) Actually 3 questions.

In the data, interchange columns 'a' and 'c'.

Create a generic function to interchange two columns, without hardcoding column names.

Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

46) Change the pandas display settings on printing the dataframe so it shows a maximum of 10 rows and 10 columns.

47) Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.

48) Format the values in column 'random' of df as percentages.

In [ ]:
df = pd.DataFrame(np.random.random(4), columns=['random'])
df
#>      random
#> 0    .689723
#> 1    .957224
#> 2    .159157
#> 3    .21082

49) From the cars data, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

50) In the cars data, Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.

51) Find the row position of the 5th largest value of column 'a' in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

52) In ser, find the position of the 2nd largest value greater than the mean.

In [ ]:
ser = pd.Series(np.random.randint(1, 100, 15))

53) Get the last two rows of df whose row sum is greater than 100.

In [ ]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

54) Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.

In [ ]:
ser = pd.Series(np.logspace(-2, 2, 30))

55) Reshape df to the largest possible square with negative values removed. Drop the smallest values if need be. The order of the positive numbers in the result should remain the same as the original.

In [ ]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))

56) Swap rows 1 and 2 in df.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

57) Reverse all the rows of dataframe df.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

58) Get one-hot encodings for column 'a' in the dataframe df and append it as columns.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

59) Obtain the column name with the highest number of row-wise maximum’s in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

60) Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df
#     p   q   r   s
# a  57  77  13  62
# b  68   5  92  24
# c  74  40  18  37
# d  80  17  39  60
# e  93  48  85  33
# f  69  55   8  11
# g  39  23  88  53
# h  63  28  25  61
# i  18   4  73   7
# j  79  12  45  34

61) Compute maximum possible absolute correlation value of each column against other columns in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))

62) Compute the minimum-by-maximum for every row of df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

63) Create a new column 'penultimate' which has the second largest value of each row of df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

64) Normalize all columns of df by subtracting the column mean and divide by standard deviation.
Range all columns of df such that the minimum value in each column is 0 and max is 1.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

65) Compute the correlation of each row of df with its succeeding row.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

66) Replace both values in both diagonals of df with 0.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
df
#     0   1   2   3   4   5   6   7   8   9
# 0  11  46  26  44  11  62  18  70  68  26
# 1  87  71  52  50  81  43  83  39   3  59
# 2  47  76  93  77  73   2   2  16  14  26
# 3  64  18  74  22  16  37  60   8  66  39
# 4  10  18  39  98  25   8  32   6   3  29
# 5  29  91  27  86  23  84  28  31  97  10
# 6  37  71  70  65   4  72  82  89  12  97
# 7  65  22  97  75  17  10  43  78  12  77
# 8  47  57  96  55  17  83  61  85  26  86
# 9  76  80  28  45  77  12  67  80   7  63

67) Using a key in a grouped data frame. From df_grouped, get the group belonging to 'apple' as a dataframe.

In [ ]:
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])

68) In df, find the second largest value of 'taste' for 'banana'

In [ ]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

69) In df, Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.

In [ ]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

70) Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

71) Get the positions where the value of two columns match.

In [ ]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

72) Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

    a   b   c   d
0  66  34  76  47
1  20  86  10  81
2  75  73  51  28
3   1   1   9  83
4  30  47  67   4

73) Get the frequency of unique values in the entire dataframe df.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

74) Split the string column in df to form a dataframe with 3 columns as shown.

In [ ]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

print(df)