In [2]:
from functools import reduce

1) Demonstrate how to import Pandas and check the version of the installation.

In [2]:
import pandas as pd
import numpy as np
pd.__version__ #dunder method
pd.show_versions()

c:\Users\Learner_XZHCG221\AppData\Local\Programs\Python\Python311\Lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 8dab54d6573f7186ff0c3b6364d5e4dd635ff3e7
python           : 3.11.0.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22621
machine          : AMD64
processor        : Intel64 Family 6 Model 140 Stepping 1, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.5.2
numpy            : 1.24.1
pytz             : 2022.6
dateutil         : 2.8.2
setuptools       : 65.5.0
pip              : 22.3.1
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.7.0
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : None
gcsfs            : None
matplotlib       : 3.6.3
numba            : None
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.10.0
snappy           : None
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
zstandard        : None
tzdata           : None

2) Transform this list, numpy array, and dictionary into a series.

In [4]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
s_list= pd.Series(mylist)

myarr = np.arange(26)
s_myarr= pd.Series(myarr)

mydict = dict(zip(mylist, myarr))
s_mydict= pd.Series(mydict)

s_mydict

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

3) Convert the index of your previous series into a column of the dataframe.

In [5]:
df = s_mydict.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

4) Combine the series below into one dataframe.

In [6]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df= pd.concat([ser1,ser2], axis=1)
type(df)

pandas.core.frame.DataFrame

5) Give the series below a name.

In [6]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'), name= 'Series')

ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: Series, dtype: object

6) Find the elements in the first series (ser1) not in the second series (ser2).

In [199]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

list1= []
list2= []
for i in ser1:
    list1.append(i)
for i in ser2:
    list2.append(i)

list3= []
for num in list1:
    if num not in list2:
        list3.append(num)

print(list3)

ser1[~ser1.isin(ser2)]

[1, 2, 3]

3    4
4    5
dtype: int64

7) Find the elements in both series that are not in common (remove them if they exist in both).

In [60]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_concat= pd.concat([ser1,ser2],ignore_index=True)
ser3= ser1[ser1.isin(ser2)]
ser_concat[~ser_concat.isin(ser3)]

0    1
1    2
2    3
7    6
8    7
9    8
dtype: int64

8) Find the minimum, max, 25th percentile, and 75th percentile in the series.

In [74]:
ser = pd.Series(np.random.normal(10, 5, 25))
ser_min= ser.min()
ser_max= ser.max()
ser_25th= ser.quantile(.25)
ser_75th=ser.quantile(.75)
print("Minimum:",ser_min, "Maximum:",ser_max, "25th percentile:",ser_25th, "75th percentile:",ser_75th)

Minimum: -5.432440396089653 Maximum: 19.513155967544968 25th percentile: 7.434060187569492 75th percentile: 11.130143349442168

9) Obtain the count of each unique item in the series.

In [122]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

e    7
g    7
h    5
f    3
c    2
d    2
a    2
b    2
dtype: int64

10) Keep the two most frequent items in the series and change all items that are not those two into "Other".

In [173]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser.value_counts()

ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

0         3
1         1
2         1
3         1
4     Other
5         1
6     Other
7         3
8         3
9         1
10        1
11        3
dtype: object

11) Bin the series below into 10 equal deciles and replace the values with the bin name.

In [169]:
ser = pd.Series(np.random.random(20))
ser2= np.percentile(ser, [0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1])
bin_names= ['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']
pd.qcut(ser, q=[0,.1,.2,.3,.4,.5,.6,.7,.8,.9,1], labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'])

0      4th
1      6th
2      1st
3      1st
4      2nd
5      8th
6      2nd
7     10th
8      3rd
9      6th
10     5th
11     5th
12     7th
13     9th
14     7th
15     4th
16     3rd
17    10th
18     9th
19     8th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

12) Reshape the series ser into a dataframe with 7 rows and 5 columns.

In [184]:
ser = pd.Series(np.random.randint(1, 10, 35))
df=pd.DataFrame(ser.values.reshape(7,5))
df

   0  1  2  3  4
0  7  5  8  4  5
1  3  2  4  8  7
2  3  1  5  4  4
3  3  2  5  8  8
4  2  6  8  7  8
5  3  8  1  6  3
6  8  5  8  4  7

13) Find the positions of numbers that are multiples of 3 from ser.

In [201]:
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
list1= []
for i in ser:
    if i%3 ==0:
        list1.append(i)

print(list1)


ser3 = ser[(ser%3==0)]
print(ser3)

0    9
1    8
2    9
3    5
4    5
5    6
6    7
dtype: int32
[9, 9, 6]
0    9
2    9
5    6
dtype: int32

14) From ser, extract the items at positions in list pos.

In [123]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

15) Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [133]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
pd.concat([ser1,ser2], axis=1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

16) Get the positions of items of ser2 in ser1 as a list.

In [126]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

pos= []
for i in range(len(ser2)):
    for j in range(len(ser1)):
        if ser2[i]==ser1[j]:
            pos.append(j)

print(pos)

[5, 4, 0, 8]

17) Compute the mean squared error of truth and pred series.

In [129]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

np.mean((truth-pred)**2)

0.3381832286239441

18) Change the first character of each word to upper case in each word of ser.

In [234]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser.str.capitalize()

0     How
1      To
2    Kick
3    Ass?
dtype: object

19) Caluculate the number of characters for each element in the series.

In [128]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
#ser.map(lambda x: len(x))

ser.str.len()

0    3
1    2
2    4
3    4
dtype: int64

20) Caluculate the difference of differences between the consequtive numbers of ser.

In [251]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

ser.diff().diff().tolist()

-116

21) Convert the date-strings to a timeseries.

In [134]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

22) Get the day of month, week number, day of year and day of week from ser.

In [7]:
import datetime
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
dates= pd.to_datetime(ser)
weeks=dates.dt.week
days=dates.dt.day
day_of_year=dates.dt.dayofyear
day_of_week= dates.dt.dayofweek
pd.concat([ser,dates,weeks,days,day_of_year, day_of_week],axis=1).rename(columns={'0': 'Original Dates','1':'Timeseries', '2':'Week Number', '3': 'Day of Month', '4': 'Day of Year', '5': 'Day of Week'})

C:\Users\Learner_XZHCG221\AppData\Local\Temp\ipykernel_21012\617606420.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  weeks=dates.dt.week

                  0                   1   2  3    4  5
0       01 Jan 2010 2010-01-01 00:00:00  53  1    1  4
1        02-02-2011 2011-02-02 00:00:00   5  2   33  2
2          20120303 2012-03-03 00:00:00   9  3   63  5
3        2013/04/04 2013-04-04 00:00:00  14  4   94  3
4        2014-05-05 2014-05-05 00:00:00  19  5  125  0
5  2015-06-06T12:20 2015-06-06 12:20:00  23  6  157  5

23) Change ser to dates that start with 4th of the respective months.

In [7]:
#from dateutil.parser import parse
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

dates= []
dates2= []
for x in ser:
    dates.append(x.split()) #split string into Month & Year
for string in dates:
    new_string=" 04 ".join(string) #Joing the string back together with " 04 "
    dates2.append(new_string) #Add to a new list

dates2

['Jan 04 2010', 'Feb 04 2011', 'Mar 04 2012']

24) From ser, extract words that contain at least 2 vowels.

In [70]:
import re
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
vowels= ['a', 'e', 'i', 'o', 'u']

lists= []
new_list= []
for i in ser:
    lists.append(i.lower())

for word in lists:
    count= 0
    for letter in word:
        if letter in vowels:
            count= count+1
            if count >=2 and word not in new_list:
                new_list.append(word)


#new_list

ser2= ser[ser.str.count(pat=r'[AaEeIioOUu]') >= 2]
ser[ser.str.count(pat=r'[AaEeIiOoUu]', flags=re) >= 2]

print(ser2)

0     Apple
1    Orange
4     Money
dtype: object

25) Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

In [49]:
import re
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

emails.str.findall(pattern,flags=re.IGNORECASE)

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object

26) Compute the mean of weights of each fruit.

In [53]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
#examples
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

fruit_weight=weights.groupby(fruit).mean()
fruit_weight

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['apple', 'apple', 'apple', 'banana', 'carrot', 'carrot', 'carrot', 'banana', 'carrot', 'apple']

apple     4.00
banana    6.00
carrot    6.75
dtype: float64

27) Compute the euclidean distance between series (points) p and q, without using a packaged formula.

In [60]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

sum((p-q)**2)**.5

#Euclidean Distance - distance between 2 points
#First sum all the values then find the difference
#square the difference
#square root of the difference

18.16590212458495

28) Get the positions of peaks (values surrounded by smaller values on both sides) in ser.

In [71]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
ser.diff()

0    NaN
1    8.0
2   -7.0
3    1.0
4    5.0
5    1.0
6   -8.0
7    5.0
8   -4.0
dtype: float64

29) Replace the spaces in my_str with the least frequent character.

In [68]:
my_str = 'dbc deb abed gade'
ser= pd.Series(list(my_str)) #trun string into series and make into list
freq= ser.value_counts() #get count of unique letters(mus be a series)
least_freq= freq.index[-1] #get least frequent value
least_freq
"".join(ser.replace(' ',least_freq))

'dbcgdebgabedggade'

30) Create a timeseries starting at ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values.

2000-01-01    6
2000-01-08    6
2000-01-15    5
2000-01-22    5
2000-01-29    8
2000-02-05    3
2000-02-12    8
2000-02-19    3
2000-02-26    8
2000-03-04    4
Freq: W-SAT, dtype: int32

31) Series ser has missing dates and values. Make all missing dates appear and fill up with value from previous date.

In [168]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)
#> 2000-01-01     1.0
#> 2000-01-03    10.0
#> 2000-01-06     3.0
#> 2000-01-08     NaN
#> dtype: float64

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

32) Compute autocorrelations for the first 10 lags of ser. Find out which lag has the largest correlation.

In [169]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

[-0.14, -0.09, 0.69, -0.18, -0.08, 0.69, -0.41, 0.14, 0.58, -0.3]
Lag having highest correlation:  3

33) Import every 50th row of BostonHousing dataset as a dataframe.
    https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

C:\Users\Learner_XZHCG221\AppData\Local\Temp\ipykernel_10344\4036275642.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\Learner_XZHCG221\AppData\Local\Temp\ipykernel_10344\4036275642.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\Learner_XZHCG221\AppData\Local\Temp\ipykernel_10344\4036275642.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\Learner_XZHCG221\AppData\Local\Temp\ipykernel_10344\4036275642.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\Learner_XZHCG221\AppData\Local\Temp\ipykernel_10344\4036275642.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\Learner_XZHCG221\AppData\Local\Temp\ipykernel_10344\4036275642.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\Learner_XZHCG221\AppData\Local\Temp\ipykernel_10344\4036275642.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\Learner_XZHCG221\AppData\Local\Temp\ipykernel_10344\4036275642.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\Learner_XZHCG221\AppData\Local\Temp\ipykernel_10344\4036275642.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\Learner_XZHCG221\AppData\Local\Temp\ipykernel_10344\4036275642.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\Learner_XZHCG221\AppData\Local\Temp\ipykernel_10344\4036275642.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])

34) Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

FileNotFoundError: [Errno 2] No such file or directory: 'BostonHousing.csv'

35) Create a dataframe with rows as strides from the series "L".

array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]], dtype=int64)

36) Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

37) Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. Also get the numpy array and list equivalent of the dataframe.

https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv

(93, 27)
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object

AttributeError: 'DataFrame' object has no attribute 'get_dtype_counts'

38) Which manufacturer, model and type has the highest Price? What is the row and column number of the cell with the highest Price value?

In [175]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

AttributeError: 'DataFrame' object has no attribute 'get_value'

39) Rename the column "Type" as "CarType" in the previous data and replace the ‘.’ in column names with ‘_’.

In [176]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

40) Check if the data from #37 has any missing values.

In [177]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

True

41) Count the number of missing values in each column of the previous data. Which column has the maximum number of missing values?

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

42) Replace missing values in Min.Price and Max.Price columns with their respective mean.

43) In the previous data, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.

In [ ]:
d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))

44) Get the first column (a) in the data as a dataframe (rather than as a Series).

In [ ]:
type(df[['a']])
type(df.loc[:, ['a']])
type(df.iloc[:, [0]])

45) Actually 3 questions.

In the data, interchange columns 'a' and 'c'.

Create a generic function to interchange two columns, without hardcoding column names.

Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

In [ ]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

df[list('cbade')]


def switch_columns(df, col1=None, col2=None):
    colnames = df.columns.tolist()
    i1, i2 = colnames.index(col1), colnames.index(col2)
    colnames[i2], colnames[i1] = colnames[i1], colnames[i2]
    return df[colnames]

df1 = switch_columns(df, 'a', 'c')

df[sorted(df.columns)]

46) Change the pandas display settings on printing the dataframe so it shows a maximum of 10 rows and 10 columns.

In [ ]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

47) Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.

In [ ]:
df.apply(lambda x: '%.4f' % x, axis=1)

48) Format the values in column 'random' of df as percentages.

In [76]:
df = pd.DataFrame(np.random.random(4), columns=['random'])
df
#>      random
#> 0    .689723
#> 1    .957224
#> 2    .159157
#> 3    .21082
df*100

      random
0  46.859128
1   2.709243
2  85.957066
3  53.663278

49) From the cars data, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

In [ ]:
print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

50) In the cars data, Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.

In [ ]:
df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.index = df.Manufacturer + '_' + df.Model + '_' + df.Type
print(df.index.is_unique)

51) Find the row position of the 5th largest value of column 'a' in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))
n = 5
df['a'].argsort()[::-1][n]

52) In ser, find the position of the 2nd largest value greater than the mean.

In [80]:
ser = pd.Series(np.random.randint(1, 100, 15))
sorted_ser=sorted(ser) #sort series

94

53) Get the last two rows of df whose row sum is greater than 100.

In [ ]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
rowsums = df.apply(np.sum, axis=1)

54) Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.

In [ ]:
ser = pd.Series(np.logspace(-2, 2, 30))
def cap_outliers(ser, low_perc, high_perc):
    low, high = ser.quantile([low_perc, high_perc])
    print(low_perc, '%ile: ', low, '|', high_perc, '%ile: ', high)
    ser[ser < low] = low
    ser[ser > high] = high
    return(ser)

capped_ser = cap_outliers(ser, .05, .95)

55) Reshape df to the largest possible square with negative values removed. Drop the smallest values if need be. The order of the positive numbers in the result should remain the same as the original.

In [ ]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))

56) Swap rows 1 and 2 in df.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

57) Reverse all the rows of dataframe df.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
print(df.loc[df.index[::-1], :])

58) Get one-hot encodings for column 'a' in the dataframe df and append it as columns.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

59) Obtain the column name with the highest number of row-wise maximum’s in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))
print('Column with highest row maxes: ', df.apply(np.argmax, axis=1).value_counts().index[0])

60) Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df
#     p   q   r   s
# a  57  77  13  62
# b  68   5  92  24
# c  74  40  18  37
# d  80  17  39  60
# e  93  48  85  33
# f  69  55   8  11
# g  39  23  88  53
# h  63  28  25  61
# i  18   4  73   7
# j  79  12  45  34

61) Compute maximum possible absolute correlation value of each column against other columns in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh')
abs_corrmat = np.abs(df.corr())
max_corr = abs_corrmat.apply(lambda x: sorted(x)[-2])
print('Maximum Correlation possible for each column: ', np.round(max_corr.tolist(), 2)))

62) Compute the minimum-by-maximum for every row of df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
min_by_max = df.apply(lambda x: np.min(x)/np.max(x), axis=1)

63) Create a new column 'penultimate' which has the second largest value of each row of df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
out = df.apply(lambda x: x.sort_values().unique()[-2], axis=1)
df['penultimate'] = out
print(df)

64) Normalize all columns of df by subtracting the column mean and divide by standard deviation.
Range all columns of df such that the minimum value in each column is 0 and max is 1.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
out1 = df.apply(lambda x: ((x - x.mean())/x.std()).round(2))
print('Solution Q1\n',out1)

# Solution Q2
out2 = df.apply(lambda x: ((x.max() - x)/(x.max() - x.min())).round(2))
print('Solution Q2\n', out2)

65) Compute the correlation of each row of df with its succeeding row.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
[df.iloc[i].corr(df.iloc[i+1]).round(2) for i in range(df.shape[0])[:-1]]

66) Replace both values in both diagonals of df with 0.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
df
#     0   1   2   3   4   5   6   7   8   9
# 0  11  46  26  44  11  62  18  70  68  26
# 1  87  71  52  50  81  43  83  39   3  59
# 2  47  76  93  77  73   2   2  16  14  26
# 3  64  18  74  22  16  37  60   8  66  39
# 4  10  18  39  98  25   8  32   6   3  29
# 5  29  91  27  86  23  84  28  31  97  10
# 6  37  71  70  65   4  72  82  89  12  97
# 7  65  22  97  75  17  10  43  78  12  77
# 8  47  57  96  55  17  83  61  85  26  86
# 9  76  80  28  45  77  12  67  80   7  63

67) Using a key in a grouped data frame. From df_grouped, get the group belonging to 'apple' as a dataframe.

In [ ]:
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])

68) In df, find the second largest value of 'taste' for 'banana'

In [ ]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

69) In df, Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.

In [ ]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

70) Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

71) Get the positions where the value of two columns match.

In [ ]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

72) Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

    a   b   c   d
0  66  34  76  47
1  20  86  10  81
2  75  73  51  28
3   1   1   9  83
4  30  47  67   4

73) Get the frequency of unique values in the entire dataframe df.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

74) Split the string column in df to form a dataframe with 3 columns as shown.

In [ ]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

print(df)