1) Demonstrate how to import Pandas and check the version of the installation.

In [5]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.5.2'

In [7]:
pd.show_versions()

c:\Users\Learner_XZHCG217\AppData\Local\Programs\Python\Python311\Lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 8dab54d6573f7186ff0c3b6364d5e4dd635ff3e7
python           : 3.11.0.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22621
machine          : AMD64
processor        : Intel64 Family 6 Model 140 Stepping 1, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.5.2
numpy            : 1.24.1
pytz             : 2022.6
dateutil         : 2.8.2
setuptools       : 65.5.0
pip              : 22.3
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.7.0
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : None
gcsfs            : None
matplotlib       : 3.6.3
numba            : None
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.10.0
snappy           : None
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
zstandard        : None
tzdata           : None

2) Transform this list, numpy array, and dictionary into a series.

In [28]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
list_series = pd.Series(mylist, name= 'mylist')
type(list_series)
myarr = np.arange(26)
arr_series = pd.Series(myarr, name='myarr')
type(arr_series)
mydict = dict(zip(mylist, myarr))
dict_series = pd.Series(mydict)
type(dict_series)

pandas.core.series.Series

3) Convert the index of your previous series into a column of the dataframe.

In [29]:
dict_series.to_frame()

    0
a   0
b   1
c   2
e   3
d   4
f   5
g   6
h   7
i   8
j   9
k  10
l  11
m  12
n  13
o  14
p  15
q  16
r  17
s  18
t  19
u  20
v  21
w  22
x  23
y  24
z  25

4) Combine the series below into one dataframe.

In [30]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
comb = pd.concat([ser1, ser2], axis =1)
comb

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

5) Give the series below a name.

In [88]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'), name= 'ser')
type(ser)

pandas.core.series.Series

6) Find the elements in the first series (ser1) not in the second series (ser2).

In [43]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ans = ser1[~ser1.isin(ser2)]
type(ans)

pandas.core.series.Series

7) Find the elements in both series that are not in common (remove them if they exist in both).

In [49]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
combine = pd.concat([ser1, ser2])
combine
common_list = []
common = ser1[ser1.isin(ser2)]
common
#ans = ser1[~ser1.isin(ser2)]
ans = combine[~combine.isin(common)]
ans
# ser_u = pd.Series(np.union1d(ser1, ser2))  # union
# ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
# ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

In [50]:
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

8) Find the minimum, max, 25th percentile, and 75th percentile in the series.

In [72]:
ser = pd.Series(np.random.normal(10, 5, 25))
df = ser.to_frame()
#df
df.describe(include = 'all')


r = np.percentile(ser, q=[0, 25, 50, 75, 100]) # we can use in further as we got array as o/p
r

array([ 0.46117277,  6.91913044, 10.16965728, 12.9644589 , 22.85712387])

9) Obtain the count of each unique item in the series.

In [80]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()
# df = ser.to_frame()# dont change to dataframe..... value_counts dont work on dataframes
# df
# df[[0]].value_counts()
#print(df)

d    6
c    5
f    5
e    4
h    4
a    3
b    3
dtype: int64

10) Keep the two most frequent items in the series and change all items that are not those two into "Other".

In [89]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser2=ser.value_counts()
print(ser2)
#df=ser.to_frame()
#print(df.value_counts())
list1=ser.value_counts()[:2].index.tolist()
print(list1)
list2=ser.value_counts()[2:].index.tolist()
print(list2)
#list1=df[0].value_counts()[:2].index.tolist()
type(list1)

3    5
2    4
4    2
1    1
dtype: int64
[3, 2]
[4, 1]

C:\Users\Learner_XZHCG217\AppData\Local\Temp\ipykernel_4976\1270694100.py:7: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  list1=ser.value_counts()[:2].index.tolist()
C:\Users\Learner_XZHCG217\AppData\Local\Temp\ipykernel_4976\1270694100.py:9: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  list2=ser.value_counts()[2:].index.tolist()

list

11) Bin the series below into 10 equal deciles and replace the values with the bin name.

In [ ]:
ser = pd.Series(np.random.random(20))

12) Reshape the series ser into a dataframe with 7 rows and 5 columns.

In [ ]:
ser = pd.Series(np.random.randint(1, 10, 35))

13) Find the positions of numbers that are multiples of 3 from ser.

In [ ]:
ser = pd.Series(np.random.randint(1, 10, 7))

14) From ser, extract the items at positions in list pos.

In [ ]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

15) Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [ ]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

16) Get the positions of items of ser2 in ser1 as a list.

In [ ]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

17) Compute the mean squared error of truth and pred series.

In [ ]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

18) Change the first character of each word to upper case in each word of ser.

In [ ]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

19) Caluculate the number of characters for each element in the series.

In [ ]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

20) Caluculate the difference of differences between the consequtive numbers of ser.

In [ ]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

21) Convert the date-strings to a timeseries.

In [ ]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

22) Get the day of month, week number, day of year and day of week from ser.

In [ ]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

23) Change ser to dates that start with 4th of the respective months.

In [ ]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

24) From ser, extract words that contain at least 2 vowels.

In [ ]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

25) Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

In [ ]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

26) Compute the mean of weights of each fruit.

In [ ]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weight.tolist())
print(fruit.tolist())
#examples
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

27) Compute the euclidean distance between series (points) p and q, without using a packaged formula.

In [ ]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

28) Get the positions of peaks (values surrounded by smaller values on both sides) in ser.

In [ ]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

29) Replace the spaces in my_str with the least frequent character.

In [ ]:
my_str = 'dbc deb abed gade'

30) Create a timeseries starting at ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values.

31) Series ser has missing dates and values. Make all missing dates appear and fill up with value from previous date.

In [ ]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)
#> 2000-01-01     1.0
#> 2000-01-03    10.0
#> 2000-01-06     3.0
#> 2000-01-08     NaN
#> dtype: float64

32) Compute autocorrelations for the first 10 lags of ser. Find out which lag has the largest correlation.

In [ ]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

33) Import every 50th row of BostonHousing dataset as a dataframe.
    https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

34) Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

35) Create a dataframe with rows as strides from the series "L".

In [ ]:
L = pd.Series(range(15))

36) Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

37) Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. Also get the numpy array and list equivalent of the dataframe.

https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv

38) Which manufacturer, model and type has the highest Price? What is the row and column number of the cell with the highest Price value?

39) Rename the column "Type" as "CarType" in the previous data and replace the ‘.’ in column names with ‘_’.

40) Check if the data from #37 has any missing values.

41) Count the number of missing values in each column of the previous data. Which column has the maximum number of missing values?

42) Replace missing values in Min.Price and Max.Price columns with their respective mean.

43) In the previous data, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.

44) Get the first column (a) in the data as a dataframe (rather than as a Series).

45) Actually 3 questions.

In the data, interchange columns 'a' and 'c'.

Create a generic function to interchange two columns, without hardcoding column names.

Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

46) Change the pandas display settings on printing the dataframe so it shows a maximum of 10 rows and 10 columns.

47) Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.

48) Format the values in column 'random' of df as percentages.

In [ ]:
df = pd.DataFrame(np.random.random(4), columns=['random'])
df
#>      random
#> 0    .689723
#> 1    .957224
#> 2    .159157
#> 3    .21082

49) From the cars data, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

50) In the cars data, Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.

51) Find the row position of the 5th largest value of column 'a' in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

52) In ser, find the position of the 2nd largest value greater than the mean.

In [ ]:
ser = pd.Series(np.random.randint(1, 100, 15))

53) Get the last two rows of df whose row sum is greater than 100.

In [ ]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

54) Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.

In [ ]:
ser = pd.Series(np.logspace(-2, 2, 30))

55) Reshape df to the largest possible square with negative values removed. Drop the smallest values if need be. The order of the positive numbers in the result should remain the same as the original.

In [ ]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))

56) Swap rows 1 and 2 in df.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

57) Reverse all the rows of dataframe df.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

58) Get one-hot encodings for column 'a' in the dataframe df and append it as columns.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

59) Obtain the column name with the highest number of row-wise maximum’s in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

60) Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df
#     p   q   r   s
# a  57  77  13  62
# b  68   5  92  24
# c  74  40  18  37
# d  80  17  39  60
# e  93  48  85  33
# f  69  55   8  11
# g  39  23  88  53
# h  63  28  25  61
# i  18   4  73   7
# j  79  12  45  34

61) Compute maximum possible absolute correlation value of each column against other columns in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))

62) Compute the minimum-by-maximum for every row of df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

63) Create a new column 'penultimate' which has the second largest value of each row of df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

64) Normalize all columns of df by subtracting the column mean and divide by standard deviation.
Range all columns of df such that the minimum value in each column is 0 and max is 1.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

65) Compute the correlation of each row of df with its succeeding row.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

66) Replace both values in both diagonals of df with 0.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
df
#     0   1   2   3   4   5   6   7   8   9
# 0  11  46  26  44  11  62  18  70  68  26
# 1  87  71  52  50  81  43  83  39   3  59
# 2  47  76  93  77  73   2   2  16  14  26
# 3  64  18  74  22  16  37  60   8  66  39
# 4  10  18  39  98  25   8  32   6   3  29
# 5  29  91  27  86  23  84  28  31  97  10
# 6  37  71  70  65   4  72  82  89  12  97
# 7  65  22  97  75  17  10  43  78  12  77
# 8  47  57  96  55  17  83  61  85  26  86
# 9  76  80  28  45  77  12  67  80   7  63

67) Using a key in a grouped data frame. From df_grouped, get the group belonging to 'apple' as a dataframe.

In [ ]:
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])

68) In df, find the second largest value of 'taste' for 'banana'

In [ ]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

69) In df, Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.

In [ ]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

70) Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

71) Get the positions where the value of two columns match.

In [ ]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

72) Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

    a   b   c   d
0  66  34  76  47
1  20  86  10  81
2  75  73  51  28
3   1   1   9  83
4  30  47  67   4

73) Get the frequency of unique values in the entire dataframe df.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

74) Split the string column in df to form a dataframe with 3 columns as shown.

In [ ]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

print(df)