1) Demonstrate how to import Pandas and check the version of the installation.

In [4]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'1.5.2'

In [5]:
pd.show_versions()

c:\Users\Learner_XZHCG217\AppData\Local\Programs\Python\Python311\Lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 8dab54d6573f7186ff0c3b6364d5e4dd635ff3e7
python           : 3.11.0.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22621
machine          : AMD64
processor        : Intel64 Family 6 Model 140 Stepping 1, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.5.2
numpy            : 1.24.1
pytz             : 2022.6
dateutil         : 2.8.2
setuptools       : 65.5.0
pip              : 22.3
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.7.0
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : None
gcsfs            : None
matplotlib       : 3.6.3
numba            : None
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.10.0
snappy           : None
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
zstandard        : None
tzdata           : None

2) Transform this list, numpy array, and dictionary into a series.

In [2]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
list_series = pd.Series(mylist, name= 'mylist')
type(list_series)
myarr = np.arange(26)
arr_series = pd.Series(myarr, name='myarr')
type(arr_series)
mydict = dict(zip(mylist, myarr))
dict_series = pd.Series(mydict)
type(dict_series)

NameError: name 'pd' is not defined

3) Convert the index of your previous series into a column of the dataframe.

In [97]:
dict_series.to_frame()

    0
a   0
b   1
c   2
e   3
d   4
f   5
g   6
h   7
i   8
j   9
k  10
l  11
m  12
n  13
o  14
p  15
q  16
r  17
s  18
t  19
u  20
v  21
w  22
x  23
y  24
z  25

4) Combine the series below into one dataframe.

In [98]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
comb = pd.concat([ser1, ser2], axis =1)
comb

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

5) Give the series below a name.

In [99]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'), name= 'ser')
type(ser)

pandas.core.series.Series

6) Find the elements in the first series (ser1) not in the second series (ser2).

In [100]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ans = ser1[~ser1.isin(ser2)]
type(ans)

pandas.core.series.Series

7) Find the elements in both series that are not in common (remove them if they exist in both).

In [101]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
combine = pd.concat([ser1, ser2])
combine
common_list = []
common = ser1[ser1.isin(ser2)]
common
#ans = ser1[~ser1.isin(ser2)]
ans = combine[~combine.isin(common)]
ans
# ser_u = pd.Series(np.union1d(ser1, ser2))  # union
# ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
# ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

In [102]:
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

8) Find the minimum, max, 25th percentile, and 75th percentile in the series.

In [103]:
ser = pd.Series(np.random.normal(10, 5, 25))
df = ser.to_frame()
#df
df.describe(include = 'all')


r = np.percentile(ser, q=[0, 25, 50, 75, 100]) # we can use in further as we got array as o/p
r

array([ 4.24135362,  9.93992351, 11.84855812, 14.49679442, 22.01086473])

9) Obtain the count of each unique item in the series.

In [104]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()
# df = ser.to_frame()# dont change to dataframe..... value_counts dont work on dataframes
# df
# df[[0]].value_counts()
#print(df)

f    7
d    7
b    4
c    3
h    3
a    2
e    2
g    2
dtype: int64

10) Keep the two most frequent items in the series and change all items that are not those two into "Other".

In [105]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser2=ser.value_counts()
print(ser2)
#df=ser.to_frame()
#print(df.value_counts())
list1=ser.value_counts()[:2].index.tolist()
print(list1)
list2=ser.value_counts()[2:].index.tolist()
print(list2)
#list1=df[0].value_counts()[:2].index.tolist()
type(list1)

3    4
4    3
1    3
2    2
dtype: int64
[3, 4]
[1, 2]

C:\Users\Learner_XZHCG217\AppData\Local\Temp\ipykernel_4976\2936311664.py:7: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  list1=ser.value_counts()[:2].index.tolist()
C:\Users\Learner_XZHCG217\AppData\Local\Temp\ipykernel_4976\2936311664.py:9: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  list2=ser.value_counts()[2:].index.tolist()

list

In [123]:
#sushma
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser)
print(ser.value_counts())
print(ser.value_counts().index[:2].to_list())
ser[~ser.isin(ser.value_counts().index[:2].to_list())]="others"
print(ser)

0     1
1     1
2     4
3     4
4     4
5     4
6     1
7     2
8     3
9     2
10    1
11    3
dtype: int32
1    4
4    4
2    2
3    2
dtype: int64
[1, 4]
0          1
1          1
2          4
3          4
4          4
5          4
6          1
7     others
8     others
9     others
10         1
11    others
dtype: object

In [106]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

0         3
1         2
2         3
3         2
4     Other
5         3
6         3
7     Other
8         2
9     Other
10        3
11    Other
dtype: object

11) Bin the series below into 10 equal deciles and replace the values with the bin name.

In [127]:
ser = pd.Series(np.random.random(20))
print(ser)
bin = pd.qcut(ser, q=10, labels=['d1','d2', 'd3', 'd4', 'd5', 'd6', 'd7', 'd8', 'd9', 'd10'])
#bin = pd.cut(ser, 10, labels=['d1','d2', 'd3', 'd4', 'd5', 'd6', 'd7', 'd8', 'd9', 'd10'])
print(bin)

0     0.942589
1     0.854344
2     0.781364
3     0.342826
4     0.319735
5     0.122016
6     0.851026
7     0.065547
8     0.826492
9     0.896329
10    0.070351
11    0.010918
12    0.623250
13    0.553813
14    0.648793
15    0.801182
16    0.365701
17    0.936162
18    0.343375
19    0.906532
dtype: float64
0     d10
1      d8
2      d6
3      d3
4      d3
5      d2
6      d8
7      d1
8      d7
9      d9
10     d2
11     d1
12     d5
13     d5
14     d6
15     d7
16     d4
17    d10
18     d4
19     d9
dtype: category
Categories (10, object): ['d1' < 'd2' < 'd3' < 'd4' ... 'd7' < 'd8' < 'd9' < 'd10']

12) Reshape the series ser into a dataframe with 7 rows and 5 columns.

In [4]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  1  9  2  5  4
1  5  5  8  4  1
2  3  3  1  2  1
3  2  7  2  1  3
4  4  2  1  9  4
5  4  7  9  9  3
6  6  9  8  9  8

13) Find the positions of numbers that are multiples of 3 from ser.

In [5]:
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
print(ser[ser.mod(3)==0].index)

0    2
1    1
2    2
3    7
4    3
5    8
6    8
dtype: int32
Int64Index([4], dtype='int64')

14) From ser, extract the items at positions in list pos.

In [6]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

15) Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [9]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
print(pd.concat([ser1,ser2], axis=1))
print(type(pd.concat([ser1,ser2], axis=1)))
print(pd.concat([ser1,ser2], axis=0))
print(type(pd.concat([ser1,ser2], axis=0)))

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
<class 'pandas.core.frame.DataFrame'>
0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
<class 'pandas.core.series.Series'>

16) Get the positions of items of ser2 in ser1 as a list.

In [10]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
ser1[ser1.isin(ser2)].index.to_list()
#ser1(ser2.isin(ser1))

[0, 4, 5, 8]

17) Compute the mean squared error of truth and pred series.

In [11]:
import sklearn as sk
from sklearn.metrics import mean_squared_error
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
mean_squared_error(truth, pred)

0.3848393167872007

18) Change the first character of each word to upper case in each word of ser.

In [16]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
#newSeries = series.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
#ser.map(lambda x: x[0].upper())
ser.map(lambda x: x[0].upper()+x[1:])

0     How
1      To
2    Kick
3    Ass?
dtype: object

19) Caluculate the number of characters for each element in the series.

In [19]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
#ser.__len__
ser.str.len()

0    3
1    2
2    4
3    4
dtype: int64

20) Caluculate the difference of differences between the consequtive numbers of ser.

In [27]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
print(ser.diff().to_list())
print(ser.diff().diff())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

21) Convert the date-strings to a timeseries.

In [25]:
import datetime
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

22) Get the day of month, week number, day of year and day of week from ser.

In [42]:
# ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
# pd.DatetimeIndex(ser)
# print(pd.DatetimeIndex(ser).month_name())
# print(pd.DatetimeIndex(ser).day_name())
# print(pd.to_datetime(ser).dt.isocalendar().week.to_list())

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
print(pd.DatetimeIndex(ser).day_name())
print(pd.DatetimeIndex(ser).day_of_year)
print(pd.DatetimeIndex(ser).day_of_week)
print(pd.to_datetime(ser).dt.isocalendar().week)

Index(['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday'], dtype='object')
Int64Index([1, 33, 63, 94, 125, 157], dtype='int64')
Int64Index([4, 2, 5, 3, 0, 5], dtype='int64')
0    53
1     5
2     9
3    14
4    19
5    23
Name: week, dtype: UInt32

23) Change ser to dates that start with 4th of the respective months.

In [41]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
#ser.map(lambda x : "04" +x)
pd.to_datetime(ser.map(lambda x : "04 " + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

24) From ser, extract words that contain at least 2 vowels.

In [44]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
#ser.item
ser[ser.str.count(pat=r'[AaEeIiOoUu]') >=2]

0     Apple
1    Orange
4     Money
dtype: object

25) Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

In [46]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

#ser[ser.str.count(pat=r'[AaEeIiOoUu]') >=2]
emails.str.match(pat=pattern)
emails[emails.str.match(pat=pattern)]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

26) Compute the mean of weights of each fruit.

In [54]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
#examples
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

# in SQL we do group by fruit
# this is series function

print(weights.groupby(fruit).mean())

#another way

#df= fruit.to_frame # created dataframe
df = pd.concat([fruit, weights], axis =1) # series has concat and we are assigning to dataframe
df
print(df.groupby(fruit).mean())

print(df)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['carrot', 'apple', 'banana', 'carrot', 'apple', 'apple', 'carrot', 'banana', 'banana', 'apple']
apple     5.750000
banana    6.666667
carrot    4.000000
dtype: float64
               1
apple   5.750000
banana  6.666667
carrot  4.000000
        0     1
0  carrot   1.0
1   apple   2.0
2  banana   3.0
3  carrot   4.0
4   apple   5.0
5   apple   6.0
6  carrot   7.0
7  banana   8.0
8  banana   9.0
9   apple  10.0

C:\Users\Learner_XZHCG217\AppData\Local\Temp\ipykernel_14080\2736184122.py:19: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(df.groupby(fruit).mean())

27) Compute the euclidean distance between series (points) p and q, without using a packaged formula.

In [58]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

dist = np.sqrt(np.sum([(a-b)*(a-b) for a, b in zip(p,q)])) # step by step  (for loop is not needed as we are using series)
print(dist)

dist = np.sqrt(np.sum([(p-q)*(p-q)])) #(for loop is not needed as we are using series)


sum((p - q)**2)**.5  #.5 is square root

18.16590212458495

18.16590212458495

28) Get the positions of peaks (values surrounded by smaller values on both sides) in ser.

In [67]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

''''dd = np.diff(np.sign(np.diff(ser)))   # sign means absolute value
peak_locs = np.where(dd == -2)[0] + 1
peak_locs '''

print(np.diff(ser))    # printing the difference
print(np.sign(np.diff(ser)))     # # change the numbers in 1 and -1 for the numbers
dd= np.diff(np.sign(np.diff(ser)))  
print(dd)                              
peak_locs = np.where(dd == -2)[0] + 1  # where ever the index is -2... printing -2 index
print(peak_locs)

[ 8 -7  1  5  1 -8  5 -4]
[ 1 -1  1  1  1 -1  1 -1]
[-2  2  0  0 -2  2 -2]
[1 5 7]

In [68]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
ser.diff()
ser.diff().where(ser.diff()<0)
ser.diff().where(ser.diff()<0).dropna()
ser.diff().where(ser.diff()<0).dropna().index
ser.diff().where(ser.diff()<0).dropna().index-1  # we want peak number... one number minus other is -ve means the before number is high.
                                                # so we take before index... index-1

# this code working one way ..... not comparing both sides (works for the series in the given question... but not with other series)

Int64Index([1, 5, 7], dtype='int64')

29) Replace the spaces in my_str with the least frequent character.

In [69]:
my_str = 'dbc deb abed gade'

char = pd.Series(list(my_str)).value_counts().index[-1]
my_str = my_str.replace(' ', char)
my_str

'dbcgdebgabedggade'

30) Create a timeseries starting at ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values.

In [75]:
ser = pd.date_range('2001-01-01', periods=10, freq='W-SAT') # getting the date range
ser
pd.Series(np.random.randint(1,10,10), ser) # assigning the date range to 10 random numbers
ser = pd.Series(np.random.randint(1,10,10), ser) # assign the random in to series again
ser

# ser = pd.date_range('2000-01-01', periods=12, freq='W-SAT') # we giving 12 periods and assigning to 10 random numbers
# ser = pd.Series(np.random.randint(1,10,12), ser)
# ser

2000-01-01    1
2000-01-08    5
2000-01-15    9
2000-01-22    1
2000-01-29    6
2000-02-05    1
2000-02-12    2
2000-02-19    4
2000-02-26    5
2000-03-04    9
2000-03-11    9
2000-03-18    2
Freq: W-SAT, dtype: int32

31) Series ser has missing dates and values. Make all missing dates appear and fill up with value from previous date.

In [84]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)
# print(ser)
# print(ser.index)
# print(ser.index[0])
# pd.date_range(ser.min(), ser.max())

ser.resample('D').ffill()  # (frequncy)
ser.resample('2D').ffill() # (2 days frequency)
ser.resample('3D').ffill()
ser.resample('D').first() # resample is to generate the frequency.... ffill is filling the values

print(pd.date_range(start=ser.index[0], freq='D' , end=ser.index[-1]))  # taking the start and end from the given range


#> 2000-01-01     1.0
#> 2000-01-03    10.0
#> 2000-01-06     3.0
#> 2000-01-08     NaN
#> dtype: float64

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64
DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [85]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
ser.resample('2D').first()

2000-01-01     1.0
2000-01-03    10.0
2000-01-05     3.0
2000-01-07     NaN
Freq: 2D, dtype: float64

32) Compute autocorrelations for the first 10 lags of ser. Find out which lag has the largest correlation.

In [93]:
'''ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))
# print(np.random.normal(1, 10, 20)) # generating numbers .  1. mean, 2. (10) (standard deviation) width... scale, 3.20 is the size
# standard deviation  --- (formula)
np.random.normal(1, 10, 20) # negative numbers are coming
r = np.random.normal(1, 10, 20)
print(r)
ser = pd.Series(np.arange(20) + r)
ser.autocorr(10) # auto corelation'''

ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))
r = np.random.normal(1, 10, 20)
print(r)
ser = pd.Series(np.arange(20) + r)
ser2 = []
for i in range(11):
    ser2.append(ser.autocorr(i))

print(ser2)
print(max(ser2[1:])) # we are getting the max value.... but not the index of max value

[ 10.16949531  13.82954668  -2.17615027  11.31602571  -7.79600769
  11.74391966   0.77998522   1.54227774  10.78357336 -18.81523682
  18.3670861   15.0921715   -1.2029188   17.37842837   4.77557303
  -8.50296061   6.22491455  -9.92165244  13.45552842   7.30378687]
[1.0, -0.17980586326516895, 0.2116300648518919, 0.3291278009683496, -0.3355883355361565, 0.4478014447208408, 0.056123514753245035, -0.016172093010774515, 0.40184450664387683, -0.29156525017831264, 0.12449910425647895]
0.4478014447208408

In [92]:
autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

[0.1, -0.07, 0.28, 0.1, 0.31, 0.04, 0.01, 0.04, -0.1, 0.12]
Lag having highest correlation:  5

33) Import every 50th row of BostonHousing dataset as a dataframe.
    https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

In [6]:
path = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"
df= pd.read_csv(path)
df1 = pd.read_csv(path, skiprows=lambda x : x%50 != 0)
print(df.iloc[[49,99,149,199]]) #checking the records
print(df1)

        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
49   0.21977   0.0   6.91     0  0.448  5.602  62.0  6.0877    3  233
99   0.06860   0.0   2.89     0  0.445  7.416  62.5  3.4952    2  276
149  2.73397   0.0  19.58     0  0.871  5.597  94.9  1.5257    5  403
199  0.03150  95.0   1.47     0  0.403  6.975  15.3  7.6534    3  402

     ptratio       b  lstat  medv
49      17.9  396.90  16.20  19.4
99      18.0  396.90   6.19  33.2
149     14.7  351.85  21.45  15.4
199     17.0  396.90   4.56  34.9
      crim  zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.21977   0   6.91     0  0.448  5.602  62.0  6.0877    3  233     17.9
1  0.06860   0   2.89     0  0.445  7.416  62.5  3.4952    2  276     18.0
2  2.73397   0  19.58     0  0.871  5.597  94.9  1.5257    5  403     14.7
3  0.03150  95   1.47     0  0.403  6.975  15.3  7.6534    3  402     17.0
4  0.19073  22   5.86     0  0.431  6.718  17.5  7.8265    7  330     19.1
5  0.05561  70   2.24     0  0.400  7.041  10.0  7.8278    5  358     14.8
6  0.02899  40   1.25     0  0.429  6.939  34.5  8.7921    1  335     19.7
7  9.91655   0  18.10     0  0.693  5.852  77.8  1.5004   24  666     20.2
8  7.52601   0  18.10     0  0.713  6.417  98.3  2.1850   24  666     20.2
9  0.17783   0   9.69     0  0.585  5.569  73.5  2.3999    6  391     19.2

        b  lstat  medv
0  396.90  16.20  19.4
1  396.90   6.19  33.2
2  351.85  21.45  15.4
3  396.90   4.56  34.9
4  393.74   6.56  26.2
5  371.58   4.74  29.0
6  389.85   5.89  26.6
7  338.16  29.97   6.3
8  304.21  19.31  13.0
9  395.77  15.10  17.5

34) Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

In [8]:
df["new_medv"] = df["medv"].where(df["medv"] > 25, "Low")  # in pandas.. it will replace if the condition is false... we gave condition reverse
df["new_medv"] = df["new_medv"].where(df["medv"] <= 25, "High")
df.head(10)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv,new_medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,Low
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,Low
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,High
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,High
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,High
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7,High
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9,Low
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1,High
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5,Low
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9,Low

35) Create a dataframe with rows as strides from the series "L".

In [9]:
L = pd.Series(range(15))
L

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

36) Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

37) Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. Also get the numpy array and list equivalent of the dataframe.

https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv

38) Which manufacturer, model and type has the highest Price? What is the row and column number of the cell with the highest Price value?

39) Rename the column "Type" as "CarType" in the previous data and replace the ‘.’ in column names with ‘_’.

40) Check if the data from #37 has any missing values.

41) Count the number of missing values in each column of the previous data. Which column has the maximum number of missing values?

42) Replace missing values in Min.Price and Max.Price columns with their respective mean.

43) In the previous data, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.

44) Get the first column (a) in the data as a dataframe (rather than as a Series).

45) Actually 3 questions.

In the data, interchange columns 'a' and 'c'.

Create a generic function to interchange two columns, without hardcoding column names.

Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

46) Change the pandas display settings on printing the dataframe so it shows a maximum of 10 rows and 10 columns.

47) Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.

48) Format the values in column 'random' of df as percentages.

In [ ]:
df = pd.DataFrame(np.random.random(4), columns=['random'])
df
#>      random
#> 0    .689723
#> 1    .957224
#> 2    .159157
#> 3    .21082

49) From the cars data, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

50) In the cars data, Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.

51) Find the row position of the 5th largest value of column 'a' in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

52) In ser, find the position of the 2nd largest value greater than the mean.

In [ ]:
ser = pd.Series(np.random.randint(1, 100, 15))

53) Get the last two rows of df whose row sum is greater than 100.

In [ ]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

54) Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.

In [ ]:
ser = pd.Series(np.logspace(-2, 2, 30))

55) Reshape df to the largest possible square with negative values removed. Drop the smallest values if need be. The order of the positive numbers in the result should remain the same as the original.

In [ ]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))

56) Swap rows 1 and 2 in df.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

57) Reverse all the rows of dataframe df.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

58) Get one-hot encodings for column 'a' in the dataframe df and append it as columns.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

59) Obtain the column name with the highest number of row-wise maximum’s in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

60) Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df
#     p   q   r   s
# a  57  77  13  62
# b  68   5  92  24
# c  74  40  18  37
# d  80  17  39  60
# e  93  48  85  33
# f  69  55   8  11
# g  39  23  88  53
# h  63  28  25  61
# i  18   4  73   7
# j  79  12  45  34

61) Compute maximum possible absolute correlation value of each column against other columns in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))

62) Compute the minimum-by-maximum for every row of df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

63) Create a new column 'penultimate' which has the second largest value of each row of df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

64) Normalize all columns of df by subtracting the column mean and divide by standard deviation.
Range all columns of df such that the minimum value in each column is 0 and max is 1.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

65) Compute the correlation of each row of df with its succeeding row.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

66) Replace both values in both diagonals of df with 0.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
df
#     0   1   2   3   4   5   6   7   8   9
# 0  11  46  26  44  11  62  18  70  68  26
# 1  87  71  52  50  81  43  83  39   3  59
# 2  47  76  93  77  73   2   2  16  14  26
# 3  64  18  74  22  16  37  60   8  66  39
# 4  10  18  39  98  25   8  32   6   3  29
# 5  29  91  27  86  23  84  28  31  97  10
# 6  37  71  70  65   4  72  82  89  12  97
# 7  65  22  97  75  17  10  43  78  12  77
# 8  47  57  96  55  17  83  61  85  26  86
# 9  76  80  28  45  77  12  67  80   7  63

67) Using a key in a grouped data frame. From df_grouped, get the group belonging to 'apple' as a dataframe.

In [ ]:
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])

68) In df, find the second largest value of 'taste' for 'banana'

In [ ]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

69) In df, Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.

In [ ]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

70) Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

71) Get the positions where the value of two columns match.

In [ ]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

72) Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

    a   b   c   d
0  66  34  76  47
1  20  86  10  81
2  75  73  51  28
3   1   1   9  83
4  30  47  67   4

73) Get the frequency of unique values in the entire dataframe df.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

74) Split the string column in df to form a dataframe with 3 columns as shown.

In [ ]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

print(df)