In [1]:
import pandas as pd
import numpy as np

In [16]:
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"

headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

df = pd.read_csv(filename, names=headers)

df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [ ]:
pd.Series
#class series

In [2]:
animals=["cat", "dog", "fish", "bird"]

s= pd.Series(animals, index=['a', 'b', 'c','d'], name= 'animals')
#can label the index anything we want
s
#constructure method- bc we are using method to create an instance of this object which is a series class

a     cat
b     dog
c    fish
d    bird
Name: animals, dtype: object

In [3]:
type(s)

pandas.core.series.Series

In [5]:
animals_dict={'a': 'cat', 'b': 'dog', 'c': 'fish', 'd': 'horse'}

s_dict= pd.Series(animals_dict)

s_dict

a      cat
b      dog
c     fish
d    horse
dtype: object

In [6]:
s[0]

'cat'

In [8]:
s[:2]

a    cat
b    dog
Name: animals, dtype: object

In [9]:
s[[1,3]]

b     dog
d    bird
Name: animals, dtype: object

In [10]:
s['a']
s[0]

'cat'

In [11]:
s_num= pd.Series(np.random.rand(10), name= 'numbers')

s_num

0    0.769943
1    0.074784
2    0.416921
3    0.577450
4    0.116479
5    0.997495
6    0.086429
7    0.253449
8    0.796736
9    0.272311
Name: numbers, dtype: float64

In [12]:
s_num > 0

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: numbers, dtype: bool

In [13]:
s_num + s_num

0    1.539886
1    0.149567
2    0.833843
3    1.154900
4    0.232957
5    1.994991
6    0.172858
7    0.506898
8    1.593472
9    0.544623
Name: numbers, dtype: float64

In [14]:
s_num.mean()

0.4361997277108164

In [20]:
df['fuel-type']

#[[]] makes it look like a data frame

0         gas
1         gas
2         gas
3         gas
4         gas
        ...
200       gas
201       gas
202       gas
203    diesel
204       gas
Name: fuel-type, Length: 205, dtype: object

In [21]:
type(df['fuel-type'])

pandas.core.series.Series

In [24]:
df.symboling

0      3
1      3
2      1
3      2
4      2
      ..
200   -1
201   -1
202   -1
203   -1
204   -1
Name: symboling, Length: 205, dtype: int64

In [27]:
df.columns.value_counts()

symboling            1
normalized-losses    1
highway-mpg          1
city-mpg             1
peak-rpm             1
horsepower           1
compression-ratio    1
stroke               1
bore                 1
fuel-system          1
engine-size          1
num-of-cylinders     1
engine-type          1
curb-weight          1
height               1
width                1
length               1
wheel-base           1
engine-location      1
drive-wheels         1
body-style           1
num-of-doors         1
aspiration           1
fuel-type            1
make                 1
price                1
dtype: int64

In [ ]:
#PSA on returns
def func1():
    z= 1+2
    y=3+4
    return z

def func2():
    z= 1+2
    y=3+4
    return y