In [2]:
import pandas as pd
import numpy as np

In [5]:
filename= 'C:/Users/SamanthaGrzegorzewsk/pandas_demos/coursera_labs/auto.csv'
headers= ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
        
df = pd.read_csv(filename, names = headers)

df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [ ]:
pd.Series

In [15]:
animals= ['cat', 'dog', 'fish', 'bird']

s=pd.Series(animals, index=['ben', 'sammi', 'valerie', 'idk'], name='animals')

s

ben         cat
sammi       dog
valerie    fish
idk        bird
Name: animals, dtype: object

In [9]:
type(s)

pandas.core.series.Series

In [20]:
animals_dict= {'a': 'cat', 'b': 'dog', 'c': 'fish', 'd': 'horse'}

s_dict= pd.Series(animals_dict)

s_dict

2    NaN
4    NaN
6    NaN
8    NaN
dtype: object

In [11]:
s[0]

'cat'

In [12]:
s[:2]

a    cat
b    dog
Name: animals, dtype: object

In [13]:
s[[1,3]]

b     dog
d    bird
Name: animals, dtype: object

In [17]:
s['ben']

'cat'

In [18]:
s[0]

'cat'

In [19]:
s_num= pd.Series(np.random.rand(10), name= 'numbers')

s_num

0    0.436100
1    0.525642
2    0.929304
3    0.055143
4    0.161225
5    0.906009
6    0.144162
7    0.477578
8    0.968032
9    0.738251
Name: numbers, dtype: float64

In [21]:
s_num > 0

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: numbers, dtype: bool

In [22]:
s_num + s_num

0    0.872201
1    1.051284
2    1.858608
3    0.110285
4    0.322450
5    1.812018
6    0.288325
7    0.955157
8    1.936065
9    1.476501
Name: numbers, dtype: float64

In [23]:
s_num.mean()

0.5341446952634965

In [24]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [28]:
type(df['fuel-type'])

pandas.core.series.Series

In [30]:
type(df.symboling)

pandas.core.series.Series

In [31]:
df.symboling

0      3
1      3
2      1
3      2
4      2
      ..
200   -1
201   -1
202   -1
203   -1
204   -1
Name: symboling, Length: 205, dtype: int64

In [33]:
df.make.value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

In [ ]:
#PSA ON RETURNS

def func1():
    z= 1+2
    y= 3+4
    return z

def func2():
    z= 1+2
    y= 3+4
    return y

In [34]:
#Sammi Problem of the Day

pod= "[32]"
print(list(pod))

#a. ['3', '2']
#b. ['[', '3', '2', ']']
#c. ['[32]']
#d. [32]

['[', '3', '2', ']']